<div class="container">
  <div style="text-align: center;margin: 5%;"> <h1>Lista de enfermedades</h1> </div>
   
  <div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
   
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Código. </th>
        <td mat-cell *matCellDef="let element"> {{element.idIllness}} </td>
      </ng-container>
   
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nameIllness}} </td>
      </ng-container>
   
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descriptionIllness}} </td>
      </ng-container>
   
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Enfermedad </th>
        <td mat-cell *matCellDef="let element"> {{element.imageIllness}} </td>
      </ng-container>
   
      <ng-container matColumnDef="c5">
         <th mat-header-cell *matHeaderCellDef> Cant Vistas </th>
         <td mat-cell *matCellDef="let element"> {{element.searchesIllneses}} </td>   
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>

</div>
   
   
   
   