<mat-toolbar class="custom-toolbar">
  <mat-icon>menu</mat-icon>
  <div>
    <button mat-button [matMenuTriggerFor]="menuEnfermedad" style="color: white">
      Enfermedad
    </button>
    <button mat-button [matMenuTriggerFor]="menuDietas" style="color: white">
      Dietas
    </button>
    <button mat-button [matMenuTriggerFor]="menuMedicinas" style="color: white">
      Medicinas
    </button>
  </div>
</mat-toolbar>
 
<mat-menu #menuEnfermedad="matMenu">
  <button mat-menu-item routerLink="/Enfermedades">Listar</button>
  <button mat-menu-item routerLink="/Enfermedades/nuevoenf">Registrar</button>
</mat-menu>

<mat-menu #menuDietas="matMenu">
  <button mat-menu-item routerLink="/Dietas">Listar</button>
  <button mat-menu-item routerLink="/Dietas/nuevodt">Registrar</button>
</mat-menu>

<mat-menu #menuMedicinas="matMenu">
  <button mat-menu-item routerLink="/Medicinas">Listar</button>
  <button mat-menu-item routerLink="/Medicinas/nuevomed">Registrar</button>
</mat-menu>

<router-outlet></router-outlet>