<mat-toolbar class="custom-toolbar">
  <img src="images/logoicon.png" alt="logoicon" class="logoIcon">
  <span class="website-name">MedLearn</span>
  <span class="espacio"></span>
  <div>
    <button mat-button [matMenuTriggerFor]="menuEnfermedad" style="color: white">
      Enfermedad
    </button>
    <button mat-button [matMenuTriggerFor]="menuDietas" style="color: white">
      Dietas
    </button>
    <button mat-button [matMenuTriggerFor]="menuMedicinas" style="color: white">
      Medicinas
    </button>

    <button mat-button [matMenuTriggerFor]="menuCantiades" style="color: white">
      Cantidades
    </button>


    <button mat-button [matMenuTriggerFor]="menuHospitales" style="color: white">
      Hospitales
    </button>

    <button mat-button [matMenuTriggerFor]="menuTratamientos" style="color: white">
      Tratamientos
    </button>

    <button mat-button [matMenuTriggerFor]="menuReportes" style="color: white">
      Reportes
    </button>

    <button mat-button [matMenuTriggerFor]="menuExercices" style="color: white">
      Ejercicios
    </button>
    <button mat-button [matMenuTriggerFor]="menuFoods" style="color: white">
      Alimentos
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuCantiades="matMenu">
  <button mat-menu-item routerLink="/Cantidades">Listar</button>
  <button mat-menu-item routerLink="/Cantidades/nuevoCanti">Registrar</button>
</mat-menu>

<mat-menu #menuEnfermedad="matMenu">
  <button mat-menu-item routerLink="/Enfermedades">Listar</button>
  <button mat-menu-item routerLink="/Enfermedades/nuevoenf">Registrar</button>
</mat-menu>

<mat-menu #menuDietas="matMenu">
  <button mat-menu-item routerLink="/Dietas">Listar</button>
  <button mat-menu-item routerLink="/Dietas/nuevodt">Registrar</button>
</mat-menu>

<mat-menu #menuMedicinas="matMenu">
  <button mat-menu-item routerLink="/Medicinas">Listar</button>
  <button mat-menu-item routerLink="/Medicinas/nuevomed">Registrar</button>
</mat-menu>



<router-outlet></router-outlet>

<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/Usuarioss">Listar</button>
  <button mat-menu-item routerLink="/Usuarioss/nuevous">Registrar</button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes">Listar</button>
  <button mat-menu-item routerLink="/reportes/numberdietinityfinal">Reporte de dietas</button>
  <button mat-menu-item routerLink="/reportes/totalCaloriasporDieta">Reporte de Calorias</button>
  <button mat-menu-item routerLink="/reportes/totaleEjerciciospoDieta">Reporte de Ejercicios</button>
</mat-menu>
<mat-menu #menuFoods="matMenu">
  <button mat-menu-item routerLink="/Alimentos">Listar</button>
  <button mat-menu-item routerLink="/Alimentos/nuevofd">Registrar</button>
</mat-menu>
<mat-menu #menuExercices="matMenu">
  <button mat-menu-item routerLink="/Ejercicios">Listar</button>
  <button mat-menu-item routerLink="/Ejercicios/nuevoex">Registrar</button>
</mat-menu>

<mat-menu #menuTratamientos="matMenu">
  <button mat-menu-item routerLink="/Tratamientoss">Listar</button>
  <button mat-menu-item routerLink="/Tratamientoss/nuevotr">Registrar</button>
</mat-menu>

<mat-menu #menuHospitales="matMenu">
  <button mat-menu-item routerLink="/Hospitales">Listar</button>
  <button mat-menu-item routerLink="/Hospitales/nuevohp">Registrar</button>
</mat-menu>

<router-outlet></router-outlet>
