<div class="container">
    <div style="text-align: center;margin: 5%;"><h1>Lista de Dietas</h1></div>
    <div>
      <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

          <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> Código. </th>
            <td mat-cell *matCellDef="let element"> {{element.idDiet}} </td>
          </ng-container>


          <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Descripción de Dieta </th>
            <td mat-cell *matCellDef="let element"> {{element.descriptionDiet}} </td>
          </ng-container>

          <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Duración de la dieta </th>
            <td mat-cell *matCellDef="let element"> {{element.durationDiet}} </td>
          </ng-container>

          <ng-container matColumnDef="c4">
            <th mat-header-cell *matHeaderCellDef> Calificación de dietas  </th>
            <td mat-cell *matCellDef="let element"> {{element.qualificationDiet}} </td>
          </ng-container>

          <ng-container matColumnDef="c5">
              <th mat-header-cell *matHeaderCellDef> Comenzar dieta </th>
              <td mat-cell *matCellDef="let element"> {{element.startDayDiet}} </td>
          </ng-container>
          <ng-container matColumnDef="c6">
            <th mat-header-cell *matHeaderCellDef> Finalizar dieta </th>
            <td mat-cell *matCellDef="let element"> {{element.finishDayDiet}} </td>
        </ng-container>
        <ng-container matColumnDef="c7">
          <th mat-header-cell *matHeaderCellDef> Código de enfermedad </th>
          <td mat-cell *matCellDef="let element"> {{element.illness.idIllness}} </td>
      </ng-container>
          <ng-container matColumnDef="accion01">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element" (click)="delete(element.idDiet)">
                 <mat-icon style="color: red;">delete</mat-icon>
                </td>
          </ng-container>
          <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['edicionesdt',element.idDiet]">
               <mat-icon style="color: red;"> edit </mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </div>
  </div>
